
// Navbar
.navbar-default {
	background: none;
	border: 0px;
	margin-bottom: 0px;
	
	a.logo {
		margin-bottom: 0px;
		margin-top: 0px;
	}
	
	form#searchform {
		max-width: 530px;
	}
}

body #page-title, #page-site-name {
	background: #6f4b6b;
	color: #fff;
	margin-bottom: 20px;
}

body.home #page-site-name {
	margin-bottom: 0;
}

// Page header
.page-header {
	border-bottom: 0px;
	color: #ffffff !important;
	font-family: "Myriad Pro Condensed", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 32px;
	margin: 0;
	padding: 15px 0 10px;
	text-transform: uppercase;
}