      <div class="footer-top">
      <div class="container">
          <div class="region region-footer">
    <section id="block-panels-mini-footer-menu" class="block block-panels-mini  clearfix">

      
  <div class="panel-flexible panels-flexible-1 clearfix" id="mini-panel-footer_menu">
<div class="panel-flexible-inside panels-flexible-1-inside">
<div class="panels-flexible-region panels-flexible-region-1-center panels-flexible-region-first">
  <div class="inside panels-flexible-region-inside panels-flexible-region-1-center-inside panels-flexible-region-inside-first">
<div class="panel-pane pane-block pane-menu-block-1 pane-menu-block">
  
        <h2 class="pane-title"><a href="/language_development" title="">LANGUAGE DEVELOPMENT</a></h2>
    
  
  <div class="pane-content">
    <div class="menu-block-wrapper menu-block-1 menu-name-menu-footer-menu parent-mlid-479 menu-level-1">
  <ul class="menu nav"><li class="first leaf menu-mlid-503"><a href="/language_development/literacy_education" title="">Literacy &amp; Education</a></li>
<li class="leaf menu-mlid-500"><a href="/language_development/language_programs" title="">Program Management</a></li>
<li class="leaf menu-mlid-502"><a href="/language_development/language_technology" title="">Technology</a></li>
<li class="last collapsed menu-mlid-505"><a href="/language_development/translation" title="">Translation</a></li>
</ul></div>
  </div>

  
  </div>
  </div>
</div>
<div class="panels-flexible-region panels-flexible-region-1-column_2 ">
  <div class="inside panels-flexible-region-inside panels-flexible-region-1-column_2-inside">
<div class="panel-pane pane-block pane-menu-block-2 pane-menu-block">
  
        <h2 class="pane-title">LANGUAGE &amp; CULTURE</h2>
    
  
  <div class="pane-content">
    <div class="menu-block-wrapper menu-block-2 menu-name-menu-footer-menu parent-mlid-480 menu-level-1">
  <ul class="menu nav"><li class="first leaf menu-mlid-549"><a href="/language_culture/anthropology" title="">Anthropology</a></li>
<li class="leaf menu-mlid-547"><a href="/language_culture/arts_ethnomusicology" title="">EthnoArts</a></li>
<li class="leaf menu-mlid-551"><a href="/language_culture/linguistics" title="">Linguistics</a></li>
<li class="last leaf menu-mlid-548"><a href="/language_culture/sign_languages" title="">Sign Languages</a></li>
</ul></div>
  </div>

  
  </div>
  </div>
</div>
<div class="panels-flexible-region panels-flexible-region-1-column_3 ">
  <div class="inside panels-flexible-region-inside panels-flexible-region-1-column_3-inside">
<div class="panel-pane pane-block pane-menu-block-4 pane-menu-block">
  
        <h2 class="pane-title"><a href="/pacific_nations" title="">PACIFIC NATIONS</a></h2>
    
  
  <div class="pane-content">
    <div class="menu-block-wrapper menu-block-4 menu-name-menu-footer-menu parent-mlid-483 menu-level-1">
  <ul class="menu nav"><li class="first leaf menu-mlid-489"><a href="/pacific_nations/australia_timor_ausil_" title="">Australia</a></li>
<li class="leaf menu-mlid-490"><a href="/pacific_nations/micronesia" title="">Micronesia</a></li>
<li class="leaf menu-mlid-492"><a href="/pacific_nations/new_caledonia" title="">New Caledonia</a></li>
<li class="leaf menu-mlid-486"><a href="/pacific_nations/papua_new_guinea" title="">Papua New Guinea</a></li>
<li class="leaf menu-mlid-491"><a href="/pacific_nations/polynesia" title="">Polynesia</a></li>
<li class="leaf menu-mlid-487"><a href="/pacific_nations/solomon_islands" title="">Solomon Islands</a></li>
<li class="leaf menu-mlid-1013"><a href="/pacific_nations/timor-leste" title="">Timor-Leste</a></li>
<li class="last leaf menu-mlid-488"><a href="/pacific_nations/vanuatu" title="">Vanuatu</a></li>
</ul></div>
  </div>

  
  </div>
<div class="panel-separator"></div><div class="panel-pane pane-block pane-menu-block-5 pane-menu-block">
  
        <h2 class="pane-title"><a href="/training" title="">TRAINING</a></h2>
    
  
  <div class="pane-content">
    <div class="menu-block-wrapper menu-block-5 menu-name-menu-footer-menu parent-mlid-482 menu-level-1">
  <ul class="menu nav"><li class="first leaf menu-mlid-493"><a href="/resources/formal_training" title="">Formal Training</a></li>
<li class="leaf menu-mlid-494"><a href="/training/programs" title="">Non-Formal Training</a></li>
<li class="last leaf menu-mlid-1002"><a href="http://pacific.sil-dev.info/training/pilat" title="PILAT">PILAT</a></li>
</ul></div>
  </div>

  
  </div>
  </div>
</div>
<div class="panels-flexible-region panels-flexible-region-1-column_4 panels-flexible-region-last ">
  <div class="inside panels-flexible-region-inside panels-flexible-region-1-column_4-inside panels-flexible-region-inside-last">
<div class="panel-pane pane-block pane-menu-block-3 pane-menu-block">
  
        <h2 class="pane-title">ABOUT SIL PACIFIC</h2>
    
  
  <div class="pane-content">
    <div class="menu-block-wrapper menu-block-3 menu-name-menu-footer-menu parent-mlid-484 menu-level-1">
  <ul class="menu nav"><li class="first leaf menu-mlid-1007"><a href="http://prod.pacific.sil-dev.info/about-0/who_we_are_" title="">Who We Are</a></li>
<li class="leaf menu-mlid-1006"><a href="http://pacific.sil-dev.info/about/vision_and_strategy" title="Vision and Strategy">Vision and Strategy</a></li>
<li class="leaf menu-mlid-997"><a href="/about/news" title="">News</a></li>
<li class="leaf menu-mlid-1014"><a href="http://www. pacific.sil-dev.info/about sil pacific" title="">Partners</a></li>
<li class="leaf menu-mlid-1005"><a href="http://pacific.sil-dev.info/about/pacific_stories" title="Pacific Stories">Pacific Stories</a></li>
<li class="leaf menu-mlid-998"><a href="/about-0/history" title="">History</a></li>
<li class="leaf menu-mlid-999"><a href="/about-0/faq" title="">FAQ</a></li>
<li class="leaf menu-mlid-863"><a href="/about/consultants" title="">Consultants</a></li>
<li class="last leaf menu-mlid-485"><a href="/about/contact" title="">Contact Us</a></li>
</ul></div>
  </div>

  
  </div>
  </div>
</div>
</div>
</div>

</section> <!-- /.block -->
  </div>
      </div>
    </div>
        <div class="footer-bottom">
      <div class="container">
          <div class="region region-footer-bottom">
    <div class="block-row-wrapper row1 row-fluid">
  <section id="block-block-1" class="block block-block col-md-6 pull-left col-md-6 pull-left clearfix">

      
  <p>Copyright © 2014 SIL International (formerly known as the Summer Institute of Linguistics)</p>

</section> <!-- /.block -->
<section id="block-menu-menu-footer-legal" class="block block-menu col-md-6 pull-right style-menu-horizontal menu-align-right col-md-6 pull-right style-menu-horizontal menu-align-right clearfix">

      
  <ul class="menu nav"><li class="first leaf active"><a href="/" title="" class="active">Terms of Use</a></li>
<li class="leaf active"><a href="/" title="" class="active">Privacy Policy</a></li>
<li class="last leaf active"><a href="/" title="" class="active">External Links Disclaimer</a></li>
</ul>
</section> <!-- /.block -->
</div>
  </div>
      </div>
    </div>
    