{% extends "base.twig" %}

{% block content %}
<header role="banner" id="page-header">
{{home_1}}
</header> <!-- /#page-header -->

<div class="container">
  <div class="row">

    
    <section class="col-sm-12">
            <div id="page-title">
              </div>
                  <a id="main-content"></a>
      
                                                    <div class="region region-content">
    <section id="block-system-main" class="block block-system  clearfix">

      
  <div class="ds-1col node node-page view-mode-full clearfix">

  
  <div class="field field-name-body"><div class="row trifold text-center">
<div class="col-md-4"><img alt="140x140" class="img-rounded" src="/media/sample/block1.png" style="width: 200px; height: 200px;"><h2>About SIL Pacifc</h2>

<div class="content">
<p>The Pacific region has a rich diversity of languages. SIL language development and research teams use linguistics, literacy, anthropology and Bible Translation to assist communities in their own language development.</p>

<p><a class="btn btn-default" href="http://prod.pacific.sil-dev.info/about-0" role="button">Learn More »</a></p>
</div>
</div>

<div class="col-md-4"><img alt="140x140" class="img-rounded" src="/media/sample/flags_1.jpg" style="width: 200px; height: 200px;"><h2>Pacific Nations</h2>

<div class="content">
<p>SIL staff come from over 20 different countries to serve the Pacific nations including Australia, Papua New Guinea, Solomon Islands, Vanuatu and many other island nations.</p>

<p><a class="btn btn-default" href="/pacific_nations" role="button">Learn More »</a></p>
</div>
</div>

<div class="col-md-4"><img alt="140x140" class="img-rounded" src="/media/sample/news_copy_0.jpg" style="width: 200px; height: 200px;"><h2>News</h2>

<div class="content">
<p>Life in the Pacific is rapidly changing. &nbsp;SIL workers serve alongside local communities and join the celebration of acomplishments that lead local communities to grow and flourish.</p>

<p><a class="btn btn-default" href="/about/news" role="button">Learn More »</a></p>
</div>
</div>
</div>

<p>&nbsp;</p>
</div></div>


</section> <!-- /.block -->
  </div>
    </section>

    
  </div>

</div>
{% endblock %}
